.poster-detalle-sobre {
    position: relative;
    top: -40px;
    left: -10px;
    margin-bottom: -75px;
}

.userImg {
    width: 100px !important;
    height: 125px !important;
    border-radius: 25% !important;
    border: 25px black;
}

.welcomeImg {
    width: 100%;
    height: 175px;
}