<app-header title="LifeApp"></app-header>

<ion-content class="ion-padding">
    <img class="welcomeImg" src="assets/img/icon.png">
    <ion-grid>
        <ion-row>
            <ion-col size="4" class="poster-detalle-sobre">
                <ion-card class="playerImg">
                    <img [src]="user.img" class="userImg" *ngIf="user.img">
                </ion-card>
            </ion-col>
            <ion-col size="8">
                <!-- <ion-item>
                    <ion-icon color="secondary" slot="start" name="shirt"></ion-icon>
                    <ion-label>
                        <h1># {{ playerInfo.Jersey }}</h1>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-icon color="secondary" slot="start" name="move"></ion-icon>
                    <ion-label>
                        <h1>{{ playerInfo.Position }}</h1>
                    </ion-label>
                </ion-item> -->
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <h1 class="ion-text-center">Welcome {{ user.userName }}</h1>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <app-calendar></app-calendar>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>