<app-header title="LifeApp"></app-header>

<ion-content class="ion-padding">
    <img class="welcomeImg" src="assets/img/icon.png">
    <ion-grid>
        <ion-row>
            <ion-col size="4" class="poster-detalle-sobre">
                <ion-card class="userImg">
                    <!-- <img [src]="user.img" class="userImg" *ngIf="user.img"> -->
                    <img src="https://firebasestorage.googleapis.com/v0/b/lifeapp-17fb3.appspot.com/o/users%2FnoUser.png?alt=media&token=99d38298-ea02-4db4-a57f-7d2549ca0e39">
                </ion-card>
            </ion-col>
            <ion-col size="8">
                <h1 class="ion-text-center welcomeText">Welcome {{ user.userName }}</h1>
                <!-- <ion-item>
                    <ion-icon color="secondary" slot="start" name="shirt"></ion-icon>
                    <ion-label>
                        <h1># {{ playerInfo.Jersey }}</h1>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-icon color="secondary" slot="start" name="move"></ion-icon>
                    <ion-label>
                        <h1>{{ playerInfo.Position }}</h1>
                    </ion-label>
                </ion-item> -->
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <app-calendar></app-calendar>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>